/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*****Estilos globales******/   
html{
       box-sizing: border-box;/*border box es utilizado para que en el moento que se utilice padding no afecte*/
   }
   *,*:before,*:after{
   box-sizing: inherit;
   }
   body{
       background-color:  #fff;
   }
h2{
    text-align: center;

}
p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
}

.fl{
float: left!important;
        }
/********Header*****/
.contenedor-slider {
  margin: auto;
  width: 900%;
    height: 200px;
  max-width: 900px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 10px #fff,
 0 1px 30px;
}

.slider {
  display: flex;
  width: 400%;
}

.slider__section {
  width: 50%;
    }

.slider__img {
  display: block;
    margin: 0  0 5vw;
  width: 100%;
  height: 25vh;
}

.btn-prev, .btn-next {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
}

.btn-prev:hover, .btn-next:hover {
  background: white;
}

.btn-prev {
  left: 10px;
}

.btn-next {
  right: 10px;
}
.fr{
 margin-left: 60vw;   
}

/********footer********/
.foter{
    margin-top:10%;
}
/*******contenido principal*********/
.promociones-inicio{
    padding-top: 35px;
    display: inline-block;
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.promociones-inicio div{
   float: left;
}
.formato-promo{
    height: auto;
    width: 45%;
    border: 1px solid #e1e1e1;
   margin-left: 40px;
      }
@media only screen and (max-width:888px){
    .formato-promo{
        margin-bottom: 20px;
    width:90% ;
         }
}
.formato-promo ul li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
    padding:  10px 10px 10px 10px;
}
.formato-promo ul li:hover{
    border-bottom: 1px solid gray;
     }
.formato-promo ul li::before{
 content: '\f058';
    display: inline-block;
    vertical-align: top;
    padding:  0 5px;
    font-size: 20px;
    color: green;
    font-family: 'FontAwesome';
    
    }
.formato-promo h2{
    font-family: 'Rubik', sans-serif;
    border-bottom: 2px solid gray;
}
#h2-promo{
    text-align: left!important;
    padding-left: 10px;
    font-family: 'Rubik', sans-serif;
}
div.linea{
    width: 100%;
    
}
div.linea span{
  height: 2px; 
    margin-bottom: 6px; 
    background-color: gray;
    display: block; 
     }
section.articulos-promocion{
    display: inline-block;
}

section.articulos-promocion div{
    float: left;
  
    }
div.articulo a{
    text-decoration: line-through!important;
     font-family: 'Josefin Sans', sans-serif;
    color: grey!important;
float: right;
}
div.articulo{
    width: auto;
    height: auto;
    margin: 25px 5px;
}
section.articulos-promocion img{
    height:30vh ;
    width:30vh;
    border-radius: 50%;
    }
#precio{
    height: 50px;
    width: auto;
    
    background-color: darkslategray;
    border-radius: 15%;
    color: #fff;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
